@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-family: 'poppins',sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100;
    /* Sets the height of the element to 100% of the viewport height */
    height: 100vh;
    background: url('img/bg.jpg')  no-repeat;
    background-size: cover;
    background-position: center;
    /* Applies an infinite background animation with a duration of 5 seconds and a linear timing function */
    animation: animateBg 5s linear infinite;
}

/* Defines a keyframe animation that applies a hue rotation filter to the element, 
    rotating the hue by 360 degrees over the duration of the animation */

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
}

.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    /* Applies a blur effect to the area behind the element */
    backdrop-filter: blur(15px);
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom:2px solid #fff ;
}

/*:focus and :valid: Indicate the states of the input which trigger a change in the label's position.
top: -5px;: Adjusts the label's position slightly upward when an appropriate event occurs.
transition: .5s;: Creates a smooth animation effect for the change in label position.
This combination creates a user-friendly experience, making it clear when an input is active or valid while maintaining a clean and appealing layout. */
.input-box label {
    position: absolute;
    top: 50%;  /* Position the top of the label at the vertical center of the parent */
    left: 5px;
    transform: translateY(-50%);  /* Move the label upward by 50% of its own height for vertical centering */ 
    font-size: 1em;
    color: #fff;
    pointer-events: none;  /* Makes the label not respond to mouse events */ 
    transition: .5s;  /* Smoothly transition changes over 0.5 seconds */ 
}

.input-box input:focus~label,
.input-box input:valid~label
{
    top: -5px;
}


.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;  /* Set the height of the line to 57 pixels for vertical alignment */
}

.remember-forgot {
    /* Set margins: pulls element up by 15px (negative top margin),   
   no margin on the right, and adds 15px of space below the element */
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    margin-left: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.register-link{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media (max-width: 360px) {
    .login-box {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
    }

    .input-box{
        width: 290px;
    }
}